/**
 * Gonzalo Chacon
 */

// Sizes
$content-max-width: 1140px;

// Media breakpoints
$max-mobile: 768px;
$max-tablet: 1024px;

// Colors
$color-primary: #FC5A5D;
$color-font: #414042;
$color-font-light: #81807f;

// Fonts
$font-sans: 'Open Sans', sans-serif;

$color-bg: #f4f3f2;
$color-bg-2: #e8e8e8;
$color-aside: #fdfdfe;
$color-aside-2: #f7f7f7;
$color-black: #030303;
$color-gray-v2: #cbcbca;
