/**
 * Gonzalo Chacon
 */

// Sizes
$content-max-width: 1140px;

// Media breakpoints
$max-mobile: 768px;
$max-tablet: 1024px;

// Fonts
$font-sans: 'Open Sans', sans-serif;
$font-serif: 'Playfair Display',serif;

// Colors
$color-primary: #FC5A5D;
$color-font: #414042;
$color-font-light: #81807f;
$color-bg: #f4f3f2;
$color-bg-2: #e8e8e8;
