html {
  /*
   * Setup font size to 62.5% is equal to 10px,
   * this way we can implement rem and px sizes in
   * equivalent number, for example, giving the value 1.2
   * to the "rem-px" mixing the result will be 12px and 1.2rem
   */
  font-size: 62.5% !important;
}

html,
body {
  background: $color-bg;
  color: $color-font;
  display: flex;
  flex-direction: column;
  font-family: $font-sans;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  max-width: 1300px;
  padding: 30px 30px 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  scrollbar-color: $color-bg-2 transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-bg-2;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: $color-bg-2;
}

h1, h2, h3, h4,
.title {
  font-family: $font-serif;
}

.footer {
  background: $color-bg-2;
  color: $color-font-light;
  margin-top: 50px;
  padding: 8px 20px;
  text-align: right;
}

@include notMobile {
  main {
    flex-direction: row;
    padding: 60px 60px 0;
  }
}
